page-circuitos {

    .card-background-page {

        .card-title {
          //position: absolute;
          //top: 44%;
          font-size: 1.3em;
          width: 100%;
          font-weight: bold;
          color: #5000AD;
          font-family: 'Open Sans Semibold';
          font-weight: normal;
          src: url('../assets/fonts/OpenSans-SemiboldItalic.ttf');
          font-style: italic;
        }

    }
    
}
