page-resumen {

    .card { 
        border-radius : 0px;
        box-shadow: 0 0px 0px #fff;
        margin-bottom: 5px !important;
    }
    #mapCanvas{
        height: 60%;
        width: 100%;
    }
}
