page-vista-mapa {
    #map{
        height:100%;
        width: 100%;
    }
    .img_crono {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    ion-content{
        overflow: hidden;
    }

}
