page-registro {

    .background {
        background-image: url('../assets/imgs/bg.jpg');
        background-position: center center;
        background-attachment: fixed;
        background-size:cover;
        background-color: #464646;
    }

    .imagenes{
        margin: auto;
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
